@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Panchang-Bold';
  src: url('../../public/fonts/Panchang-Bold.woff') format('woff2'),
       url('../../public/fonts/Panchang-Bold.woff') format('woff'),
       url('../../public/fonts/Panchang-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

.font-panchang-bold {
  font-family: 'Panchang-Bold', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-five-colors {
  background: linear-gradient(to right, #FF0000 0%, #FFD809 10%, #FFD809 20%, #00FF29 30%, #00FF29 40%, #4200FF 50%, #4200FF 60%, #BD00FF 70%, #BD00FF 80%, #FF00C7 100%);
}